footer {
    background-color:$color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-direction: column;
    flex-wrap: wrap; 
    h2 {
        color: $color-secundario;
        font-size: 20px;
        font-weight: 500;
        margin: 10px;
        flex-wrap: wrap;
        text-align: center;
    }
    img {
        width: auto;
        height: 40px;
        margin: 0px 20px 10px 20px;
    }
}
.footer-nikkei{
    background-color: $color-primario-nikkei;
}