/*!--------- MEDIA QUERYS ---------!*/

@media screen and (max-width: 880px) {
    .proyectos {
        .video {
            .card {
                width: 60rem;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .paisaje {
        h2 {
            color: white;
            font-family: "Montserrat", Sans-serif;
            font-size: 40px;
            font-weight: 400;
            letter-spacing: 2.1px;
            text-shadow: 5px 0px 22px #000000;
        }
    }

    .galeria {
        .carousel {
            height: 400px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 500px;
                        width: auto;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .galeria {
        .carousel {
            height: 450px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 450px;
                        width: auto;

                    }
                }
            }
        }
    }

}

@media screen and (max-width: 720px) {
    .galeria {
        .carousel {
            height: 400px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 400px;
                        width: auto;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .section-contacto {
        height: auto;
        width: auto;

        .contacto {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .datos-contacto {
                width: auto;
                height: auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
                flex-direction: column;
                line-height: 34px;
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .galeria {
        .carousel {
            height: 350px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 350px;
                        width: auto;

                    }
                }
            }
        }
    }

    .habitaciones {
        height: auto;

        .titulo {
            display: flex;
            justify-content: center;

            h1 {
                font-size: 30px;
                font-weight: 600;
                line-height: 44px;
                margin: 5px;

            }
        }

        .categorias {

            .card {

                width: 40rem;

                img {
                    width: auto;
                    height: auto;
                }
            }
        }

    }
}

@media screen and (max-width: 550px) {
    .galeria {
        .carousel {
            height: 300px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 300px;
                        width: auto;

                    }
                }
            }
        }
    }

    .paisaje {
        h2 {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .paisaje {
        height: calc(100vh - 66px);
    }

    .galeria {
        .carousel {
            height: 250px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 250px;
                        width: auto;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .galeria {
        .carousel {
            height: 200px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 200px;
                        width: auto;

                    }
                }
            }
        }
    }

    .section-contacto {
        h1 {
            font-size: 25px;
        }

        .contacto {
            .mapa {
                iframe {
                    width: 350px;
                    height: 250px;
                }
            }


            .datos-contacto {

                .datos {
                    div {
                        p {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }


            }
        }
    }

    footer {
        h2 {
            font-size: 18px;
        }
    }

    .terraza-de-noche {
        height: calc(100vh - 66px);

        h1 {
            color: $color-secundario;
            font-size: 40px;
            font-family: "Montserrat", Sans-serif;
            font-weight: 400;
            text-shadow: 5px 0px 22px #000000;
        }

        h2 {
            color: $color-secundario;
            font-family: "Montserrat", Sans-serif;
            font-size: 20px;
            font-weight: 400;
            text-shadow: 5px 0px 22px #000000;
        }
    }
}

@media screen and (max-width: 410px) {
    header {




        .navbar {



            .container-fluid {
                a {


                    img {
                        display: none;
                    }

                    .logo-movile {
                        display: block;
                    }
                }
            }
        }
    }


    .header-nikkei {
        .navbar {
            background-color: $color-primario-nikkei;

            .container-fluid {
                .div-nikkei {
                    display: flex;
                    flex-direction: row;
                    a {


                        img {
                            display: none;
                        }
    
                        .logo-movile {
                            display: block;
                        }
                    }

                    img {
                        display: none;

                    }

                    .logo-movile-nikkei {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 390px) {

    .terraza-de-noche {
        height: calc(100vh - 57.83px);
    }

    .paisaje {
        height: calc(100vh - 57.83px);
    }
}

@media screen and (max-width: 370px) {
    .section-contacto {
        h1 {
            font-size: 20px;
        }

        .contacto {
            .mapa {
                iframe {
                    width: 300px;
                    height: 200px;
                }
            }


            .datos-contacto {

                .datos {
                    div {
                        p {
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    footer {
        h2 {
            font-size: 15px;
        }
    }

    .paisaje {
        h2 {
            font-size: 20px;
        }
    }

}

@media screen and (max-width: 320px) {
    .galeria {
        .carousel {
            height: 180px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 180px;
                        width: auto;

                    }
                }
            }
        }
    }

    .section-contacto {

        .contacto {
            .mapa {
                iframe {
                    width: 250px;
                    height: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .galeria {
        .carousel {
            height: 160px;
            width: auto;

            .carousel-inner {
                .carousel-item {
                    img {
                        height: 160px;
                        width: auto;

                    }
                }
            }
        }
    }

    .section-contacto {
        h1 {
            font-size: 18px;
        }

    }
}